@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather|Cardo|Great+Vibes);
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
*:after,
:before:after,
:after:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

::-moz-selection {
  background: #e9cfd0;
  text-shadow: none;
}

::selection {
  background: #e9cfd0;
  text-shadow: none;
}

.home {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slide:before {
  content: " ";
  position: absolute;
  background: 50% 50% / cover;
}

.slide {
  position: relative;
  padding: 10vh 10%;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  background: 50% 50% / cover;
}
.slide:after {
  display: table;
  content: " ";
  clear: both;
}

.slide p,
.slide figure {
  position: relative;
  z-index: -1px;
}

.slide p {
  font-size: 1.9em;
  line-height: 180%;
}

.slide figure {
  transform: translateZ(0.2px) scale(0.8);
}

#title {
  background: url(../img/back.png) no-repeat fixed;
  background-size: cover;
  width: 100%;
}

#slide1:before {
  background-color: white;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

#slide2 {
  background-color: white;
  background-attachment: fixed;
}

#slide3:before {
  background-color: white;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

h1 {
  margin-top: 50px;
  font-size: 4.4em;
  font-family: "Merriweather", serif;
}

.k {
  font-family: "Great Vibes", cursive;
  font-size: 3.4em;
}

.x {
  font-family: "Great Vibes", cursive;
  font-size: 1.9em;
}

.kate {
  color: #e5c1c2;
  text-shadow: black 1px 1px 0px;
}

h2 {
  font-size: 3.4em;
  font-family: "Cardo", serif;
}

nav, p {
  font-size: 1.9em;
  font-family: "Source Serif Pro", serif;
}

nav {
  float: left;
  width: 100%;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding-left: 3em;
  padding-right: 3em;
  margin: 5px;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:link,
nav ul li a:visited {
  color: black;
}
nav ul li a:hover,
nav ul li a:active {
  color: #dbb2b3;
}

.line {
  height: 2px;
  background: #dbb2b3;
  border-bottom: 1px solid #dbb2b3;
}

.serum {
  float: left;
  width: 40%;
  margin-top: 130px;
  margin-left: 90px;
}

.cream {
  float: right;
  width: 50%;
  margin-top: 130px;
}

.map {
  margin-top: 130px;
  float: left;
}

.text {
  float: right;
  margin-top: 130px;
  margin-right: 100px;
}
