@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather|Cardo|Great+Vibes);

//Fonts
$pro-font:'Source Serif Pro', serif;
$merri-font:'Merriweather', serif;
$cardo-font: 'Cardo', serif;
$vibes-font: 'Great Vibes', cursive;

//font sizes 
$smallest-text:1.3em;
$small-text: 1.9em;
$medium-text: 3.4em;
$large-text: 4.4em;

//colors
$light-pink: rgba(219,178,179,1);
$very-light-pink: rgba(233,207,208,1);